---
const { description, section, title } = Astro.props;
---
<head>
  <meta charSet="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <!-- TODO: Implement favicons by following this blog post https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 -->
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <link rel="sitemap" href="/sitemap-index.xml">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/css/diagrams.css"/>
  <link rel="stylesheet" href="/css/fontawesome.min.css"/>
  <link rel="stylesheet" href="/css/brands.min.css"/>
  <link rel="stylesheet" href="/css/duotone.min.css"/>
  <link rel="stylesheet" href="/css/light.min.css"/>
  <link rel="stylesheet" href="/css/regular.min.css"/>
  <script src="/js/Search.0.1.0.js" type="text/javascript"></script>
  <script src="/js/ScrollSpy.0.1.0.js" type="text/javascript"></script>
  <script src="/js/ThemeSelector.0.1.0.js" type="text/javascript"></script>
  <script src="/js/Visibility.0.1.0.js" type="text/javascript"></script>
  <title>{title} - {section} | WebAuthn.wtf</title>
  <meta name="description" content={description}/>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://analytics.fusionauth.io/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://analytics.fusionauth.io/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->
</head>
